@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));



:root {
   --background: #ffffff;
   --foreground: #000000;
   --font-sans: var(--vazir), system-ui, -apple-system, sans-serif;
}

@theme inline {
   --color-background: var(--background);
   --color-foreground: var(--foreground);
   --font-sans: var(--font-geist-sans);
   --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
   :root.dark {
      --background: #000000;
      --foreground: #ffffff;
   }
}

body {
   background: var(--background);
   color: var(--foreground);
   font-family: var(--font-sans);
   user-select: none;
   box-sizing: border-box;
   padding: 0;
   margin: 0;
}






.run_animate {
   position: relative;
   top: -300vh;
   animation: 50s slide linear forwards;
}

@keyframes slide {
   to {
      top: 100vh;
   }
}